<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>$PAGE_TITLE$</title>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		$PAGE_HTMLHEAD$
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				$PAGE_LAYOUTSECTION["HEADER"]["DIV"]$
			</div>
			<table cellpadding="10" width="98%" align="center">
			    <tr>
			        <td valign="top" id="main">
						$PAGE_LAYOUTSECTION["MAIN"]["DIV"]$
			        </td>
			        <td valign="top" id="sidebar">
						$PAGE_LAYOUTSECTION["SIDEBAR"]["DIV"]$
			        </td>	
			    </tr>
			</table>
			<div id="footer">
				$PAGE_LAYOUTSECTION["FOOTER"]["DIV"]$
			</div>
		</div>
	</body>
</html>