<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>$PAGE_TITLE$</title>
		$PAGE_HTMLHEAD$
	</head>

	<body>
		<div id="h_main">
			<!-- Custom headers -->
			$PAGE_CUSTOMSECTION["HEADER"]$
			
			<!-- Header Sections -->
			$PAGE_LAYOUTSECTION["HEADER"]["DIV"]$

			<!-- Column sections -->
			<div style="##height:1%;">
				<table border="0" cellspacing="0" cellpadding="0" width="100%" id="h_body_main">
					<tr valign="top">
						$PAGE_LAYOUTSECTION["COLUMN"]["TD"]$
					</tr>
				</table>
			</div>

			<!-- Footer sections -->
			$PAGE_LAYOUTSECTION["FOOTER"]["DIV"]$
		</div>

		<!-- Custom footers -->
		<div id="h_footer">
			$PAGE_CUSTOMSECTION["FOOTER"]$
		</div>
	</body>
</html>

