<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>$PAGE_TITLE$</title>
		$PAGE_HTMLHEAD$
	</head>

	<body>
		<div id="h_main">
			<!-- Custom headers -->
			$PAGE_CUSTOMSECTION["HEADER"]$
			
			<!-- Column sections -->
			<table border="0" cellspacing="0" cellpadding="0" width="100%" id="h_body_main">
				<tr valign="top">
					$PAGE_LAYOUTSECTION["COLUMN"]["TD"]$
				</tr>
			</table>

			<!-- Custom footers -->
			<div id="h_footer">
				$PAGE_CUSTOMSECTION["FOOTER"]$
			</div>
		</div>
	</body>
</html>

