

/* ************ Page Structure ************* */
html{
	font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	font-size: 12px;
}
body{
	color: #333;
	background:  url("../images/bg.gif");
	margin:0px;
	padding:0px;
}
A:link, A:visited,  A:active, A.highlighted {
	text-decoration: none;
	color:#333;
}
A:hover {
	color: black;
	text-decoration: underline;
}
h2 {
	margin:0px;
	padding:0px;
}
	
#h_footer {
	height: 20px;
}

#h_main {
	width:1000px;
	margin:0 auto;
}
#h_body_main {
	width:100%;
}
/************************************** */


/*********** CSS Styles for default appearance of all modules and sections ********/
.Section {
	border:0px;
	line-height:15px;
	margin: 5px;
	background-color: #fff;
	z-index: 1;
	font-family: Tahoma, Verdana, Arial, Helvetica, "Bitstream Vera Sans", sans-serif;
	font-size: 12px;	
	position:relative;
	width:95%;
	border-bottom:1px solid #ebebeb;
}
.SectionTitle {
	text-align: left;
	padding:0px;
	white-space:nowrap;
	display:block;
	background-color:#ebebeb;
	color: #000;
	border-bottom:1px dashed #ccc;
}
.SectionTitleLabel {
	font-weight:bold;
	font-size:12px;
	line-height:20px;
	margin-left:5px;
	font-weight:bold;
	font-family:verdana;
	
}
.SectionBody {
	display:block;
}
.SectionBodyRegion {
	padding: 15px;
}
.SectionToolbar {
	border:1px solid silver;
	background-color:#fefcd8;
	margin:0px;
	color:#993300;
	margin-top:10px;
	padding:2px;
	font-size:12px;
}
.SectionToolbar a {
	color:#333333 !important;
	font-weight:bold;
	font-size:10px;
}


/************  Layout Sections  ********/
.column { 
}
.whole {
	width:900px;
	font-size:16px;
	line-height:24px;
}
.half {
	width:450px;
	font-size:14px;
	line-height:18px;
}
.third {
	width:300px;
	font-size:12px;
	line-height:16px;
}
.twoThirds {
	width:600px;
	font-size:16px;
	line-height:24px;
}
.header {
	padding:0px;
	margin:5px;
	border:0px;
}
.layoutSectionHolder {
	font-size:1px;
	border:1px dotted white;
	height:1px;
	#height:10px;	
}
/* ************************************* */ 
	


/******** Page Header ************ */
#navMenu {
	margin:0px;	
	font-family:Arial, Helvetica, sans-serif;
	background-color: #000;
	margin-top: 0px;
	border:0px;
	color:#fff;
	height:30px;
	
}
#navMenuTitles {
	background-color: #333;
	border-top:1px solid white; 
	border-bottom:1px solid black; 
	padding-top:3px;
	padding-bottom:2px;
	color:#fff;
	height:19px;
	line-height:19px;
}
#navMenuActions {
	background-color: #333;
	border-top:1px solid white; 
	border-bottom:1px solid black; 
	padding-top:3px;
	padding-bottom:3px;
}
#anchorAddContent {
	font-size:10px;
	
}
#anchorAddContent a {
	font-weight:bold;
}

#siteMapStatusBar {
	float:right;
	margin-right:10px;
	font-size:10px;
	color:#fff;
}

#siteMapTitle {
	font-size:16px;
	font-family:arial;
	font-weight:bold;
	font-variant:small-caps;
	margin:0px;
	padding:0px;
	color:#fff;
	padding-left:10px;	
}

#siteMapTitle a {
	color:#ebebeb;
}

#pageFooter {
	padding-top:3px;
	padding-bottom:3px;
	color:#333;
	text-align:right;
	font-size:10px;
}

.pageTitle  {
	font-size:13px;
	font-family:arial;
	font-weight:normal;
	color:#fff !important;
	line-height:16px;
}
#pageTitle {
	background-color:#ebebeb;
	border:1px solid silver;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	color:#000;
	cursor:pointer !important;
}	
.inlineTextbox {
	border:0px;
	font-size:11px;
	width:120px;
}
.inlineForm {
	margin:0px;
	padding:0px;
	display:inline;
}


/********** content panel ***********/
#cp_panelWindow {
	position:absolute;
	width:300px; 
	height:250px;
	color:black;
	background-color:#fff;
	border:1px solid #333;
	padding:0px;
	margin:0px;
	font-size:12px;		
	z-index:9999;
	top:30px;
	right:20px;
}

#cp_panelWindow table {
	border-collapse:collapse;
	width:100%;
}
#cp_sectionTitle {
	background-color:#FFCC00;
	height:18px;
	border-bottom:1px solid #333;
	padding:2px;
	padding-left:5px;
	font-weight:bold;
	padding-top:5px;
	font-size:13px;
}
#cp_content {
	padding:5px;
	height:160px;
	width:290px; 
	overflow:auto;
}
a.cp_tab,
a.cp_tab:hover,
a.cp_tab:link,
a.cp_tab:active  {
	width:56px;
	height:20px;
	display:block;
	margin:0px;
	padding:0px;
	border:0px solid black;
	float:left;
	text-decoration:none;
	margin-right:5px;
}
a#cp_tabFeeds {background:url(../images/tab_feeds.gif) 0px 20px;}
a#cp_tabFeeds.cp_tab:hover {background:url(../images/tab_feeds.gif) 1px 1px;}
a#cp_tabFeeds.cp_selectedTab  {background:url(../images/tab_feeds.gif) 1px 1px;}

a#cp_tabWidgets {background:url(../images/tab_widgets.gif) 0px 20px;}
a#cp_tabWidgets:hover {background:url(../images/tab_widgets.gif) 0px 1px;}
a#cp_tabWidgets.cp_selectedTab  {background:url(../images/tab_widgets.gif) 0px 1px;}


#sidePanelWidgetList div {
	border-bottom:1px solid #ebebeb;
	margin-bottom:2px;
	list-style-type:none;
	padding-left:20px;
	height:18px;
	line-height:18px;
}

#welcome_blurb {
	line-height:24px;
	font-size:16px;
}
#welcome_blurb p {
	margin-bottom:10px;
}
